
ConsoleApp1/Properties/AssemblyInfo.cs
ConsoleApp1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ConsoleApp1/obj/Debug/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/ConsoleApp1.exe
ConsoleApp1/obj/Debug/ConsoleApp1.csprojAssemblyReference.cache
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/ConsoleApp1.sln
ConsoleApp1/ConsoleApp1.csproj
ConsoleApp1/bin/Debug/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
ConsoleApp1/bin/Debug/ConsoleApp1.exe
ConsoleApp1/App.config
ConsoleApp1/.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide-wal
ConsoleApp1/.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide-shm
ConsoleApp1/.vs/ConsoleApp1/v16/Server/sqlite3/storage.ide
ConsoleApp1/.vs/ConsoleApp1/v16/Server/sqlite3/db.lock
ConsoleApp1/.vs/ConsoleApp1/v16/.suo
